body{
    padding: 10px 40px;
    margin: 0px;
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color:black;
}

.menu{
    margin-bottom:50px;
    border-bottom: 25px solid rgb(114 50 12);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-item{
    display: flex;
    flex-direction: row-reverse;
}

.menu-item-right{
    font-size:16px;
    text-decoration: none;
    color:black;
    padding:15px;
}

.footer{
    padding:15px;
    margin-top:50px;
    border-top: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo::after{  
    transition: all 200ms;
    opacity:0;
    font-size:14px;
    color:rgb(46, 20, 5);
    position: absolute;
    top:58px;
    left:0px;
    content: "treeOS";
    background-color: rgb(114 50 12);
    border: 3px solid rgb(80, 34, 8);
    border-radius: 1px;
}

#logo:hover::after{  
    opacity: 1;
}