body{
    padding: 10px 40px;
    margin: 0px;
}

.menu{
    margin-bottom:50px;
    border-bottom: 25px solid rgb(114 50 12);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
}

.menu-item{
    display: flex;
    flex-direction: row-reverse;
}

.menu-item-right{
    font-size:16px;
    text-decoration: none;
    color:black;
    padding:15px;
}

.footer{
    padding:15px;
    margin-top:50px;
    border-top: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}